<body class="body">
<div class="well col-xs-8 col-xs-offset-2">
<h1>Welcome to Study Web</h1>
<h3>This is the final project of WEB PROGRAMMING class</h3>
<h3>For further contact, please contact with this email: b02901051@ntu.edu.tw</h3>
</div>
</body>