$navbar-default-bg: #013ADF;

@import "bootstrap-sprockets";
@import "bootstrap";

#hello {
    color: white;
}

#CA {
    color: white;
}

#ddd {
    color: white;
}

#myn{
    color: white;
}

#mynn{
    color: white;
}

#s_top{
    color: white;
}

#brand {
    float: left;
    font-size: 1.8em;
    color: white;
    letter-spacing: -1px;
    font-weight: bold;
}

#brand:hover {
    color: white;
    text-decoration: none;
}

.caret{
    color: white;
}

#ms {
    color: white;
}

.center {
    text-align: center;
}

.jumbotron {
    background-image: asset-url('sky.jpg');
    background-size: cover;
    height: 550px;
   
}
#test{
    margin-top: 140px;
    color: white;
}
.jumbotron h2{
    margin-top: 120px;
}
.jumbotron h1 {
    color: #08088A;
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
}

.article-meta-details {
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
}

.article-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

.comment-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}
.comment-body  {
   position: relative;
    background: rgba(250, 250, 250, 0.9);
    padding: 45px 15px 15px;
    margin: 0 -15px 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 6px rgba(0,0,0,.05);   
}    
.descript{
    margin-top: 0px;
}

.article-title{
    font-weight: bold;
    font-size: 1.5em;
}
.article-body{
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}
.article-picture{
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}
.listing{
    list-style: none;
    padding-left: 0px;
}

.badge{
    letter-spacing: 2px;
    background-color: purple;
    text-transform: uppercase;
    font-weight: bold;
    
}

.input_checkbox input {
    width: auto !important;
}

span.picture{
    margin-top: 10px;
    input{
        border: 0;
    }
}
.show_article{
    margin: 10px 10px 10px 10px;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer a:hover{
    color: #222;
}
footer small{
    float: left;
}
footer ul{
    float: right;
    list-style: none;
}